 <!-- blog Modals -->
 {% for event in site.events %}
 <div class="blog-modal modal fade" id="blogModal-{{ event.url | slugify }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ event.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ base_path }}/assets/img/blog/{{ event.img }}" class="img-responsive img-centered" alt="{{ event.alt }}">
                            <p>{{ event.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>{{ event.date }}</a>
                                    </strong>
                                </li>
                                <li>Category:
                                    <strong>{{ event.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <p> {{ event.content }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
