
    <!-- blog Grid Section -->
    <section id="Workshops">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Upcoming Events & Workshops</h2>
                    <hr class="star-primary">
            </div>
            <div class="row">
                {% for event in site.events %}
                    <div class="col-sm-4 blog-item">
                        <a href="#blogModal-{{ event.modal-id }}" class="blog-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-plus-circle fa-3x"></i>
                                </div>
                            </div>
                            <img src="assets/img/blog/{{ event.img }}" class="img-responsive" alt="{{ event.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>